
QDialog {
  background-color: #23359d;
}

#conteneur_action{
    background-color:antiquewhite;
    border-radius: 5px;
    border: 2px solid white; 
    color: black; 
    text-align:center;
}

#zone_boutons {
    background-color:rgb(244, 243, 243);
    border-radius: 5px;
    border: 2px solid white;
}


#label_boutons {
    background-color: #23359d;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 16px;
}
QPushButton{
    background-color: #6e92d0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 16px;
}

#label_boutons {
    font-size: 17px;
}

QPushButton:hover {
    background-color: #23359d;
}

QPushButton:pressed {
    background-color: #1127a0;
}
#bouton,#bouton_valider {
    background-color: transparent;
    border: 2px solid white;
    padding: 5px 20px;
}

#bouton:hover,#bouton_valider:hover {
    background-color: rgba(255, 255, 255, 30%);
}
QTableWidget{
    color:black;
    font-size:15px;
    padding : 3px ;
    
    background-color:antiquewhite;
}
QTableWidget::item{
    text-align: center;
}

#label_titre{
    color:black;
    background-color:antiquewhite; 
    font-size:20px; 
    border-radius : 5px; 
    border: 2px solid black;
    padding: 8px 20px;
}
#label_action{   
    color:black;
    background-color:antiquewhite; 
    font-size:14px; 
    padding: 5px;
    margin: 10px; 
    text-align: center;
    font-weight: bold;
}
#label_chemin{
    color:black;
    background-color:antiquewhite; 
    font-size:13px; 
    border-radius : 5px; 
    border: 2px solid black;
    padding: 5px;
}
#message_erreur {
    color: #e74c3c;
    font-size: 14px;
    font-weight: bold;
}